@CHARSET "UTF-8";

.processView {
	background-color: white;
}

.processViewDragTarget {
	
}

.processViewDragObject {
	
}

.processLineD {
	background-image: url('images/down_array.gif');
	background-position: top center;
	background-repeat: no-repeat;
	height: 48px;
}

.processLineH {
	background-image: url('images/blue_dot.gif');
	background-position: center;
	background-repeat: repeat-x;
}

.processLineV {
	background-image: url('images/vert_line.gif');
	/*url('images/blue_dot.gif'); */
	background-position: center;
	background-repeat: repeat-y;
}

.processLineTL {
	background-image: url('images/top_left.gif');
	background-position: center;
	background-repeat: no-repeat;
}

.processLineTM {
	background-image: url('images/top_middle.gif');
	background-position: center;
	background-repeat: no-repeat;
}

.processLineTR {
	background-image: url('images/top_right.gif');
	background-position: center;
	background-repeat: no-repeat;
}

.processLineBL {
	background-image: url('images/bottom_left.gif');
	background-position: bottom;
	background-repeat: no-repeat;
}

.processLineBM {
	background-image: url('images/bottom_middle.gif');
	background-position: bottom;
	background-repeat: no-repeat;
}

.processLineBR {
	background-image: url('images/bottom_right.gif');
	background-position: bottom;
	background-repeat: no-repeat;
}

.processLineTL_branch {
	background-image: url('images/top_left.gif');
	background-position: center -50px;
	background-repeat: no-repeat;
}

.processLineTL_dowhile {
	background-image: url('images/top_left_dowhile.gif');
	background-position: top;
	background-repeat: no-repeat;
}

.processLineTL_whiledo {
	background-image: url('images/top_left_whiledo.gif');
	background-position: center top;
	background-repeat: no-repeat;
}

.processLineTM_branch {
	background-image: url('images/top_middle.gif');
	background-position: center -100px;
	background-repeat: no-repeat;
}

.processLineTR_branch {
	background-image: url('images/top_right.gif');
	background-position: center -50px;
	background-repeat: no-repeat;
}

.processLineTR_dowhile {
	background-image: url('images/top_right_dowhile.gif');
	background-position: top;
	background-repeat: no-repeat;
}

.processLineBL_decision {
	background-image: url('images/bottom_left_decision.gif');
	background-position: bottom;
	background-repeat: no-repeat;
}

.processLineBL_dowhile {
	background-image: url('images/horz_line.gif');
	background-position: center;
	background-repeat: no-repeat;
}

.processLineBL_whiledo {
	background-image: url('images/bottom_left_whiledo.gif');
	background-position: bottom;
	background-repeat: no-repeat;
}

.processLineBM_decision {
	background-image: url('images/bottom_middle_decision.gif');
	background-position: bottom;
	background-repeat: no-repeat;
}

.processLineBR_dowhile {
	background-image: url('images/bottom_right_dowhile.gif');
	background-position: center;
	background-repeat: no-repeat;
}

.processLine_pathintf {
	background-image: url('images/path_intf.gif');
	background-position: top right;
	background-repeat: no-repeat;
	position: relative;
	left: 2px;
}

.processViewDropSite .hotspot {
	background-image: url('images/target.gif');
	background-position: center;
	background-repeat: no-repeat;
}

.processViewDropTarget .hotspot {
	background-image: url('images/target_active.gif');
	background-position: center;
	background-repeat: no-repeat;
}

.processViewDragingNode .hotspot {
	background-image: none;
}

.processViewHideHotspot .hotspot {
	background-image: none;
}

.processGroupBox {
	margin-left: 4px;
	margin-right: 4px;
}

.processDottedBorder {
	border: 1px dotted gray;
	/*-moz-border-radius : 5px;*/
}

.processSolidBorder {
	border: 1px solid gray;
	/*-moz-border-radius : 5px;*/
}

.processNodeIndentHidden .x-tree-node-indent {
	display: none;
}

.processNodeLabelHidden a {
	display: none;
}

.processNodeLabelHidden img {
	display: none !important;
}

.processNodeLabelHidden .processLineD {
	background-image: url('images/vert_line.gif');
	background-position: center;
	background-repeat: repeat-y;
}

.process-ec-container {
	text-align: left;
	vertical-align: top;
}

.process-path-collapsed {
	background-image: url('images/path_collapsed.gif') !important;
}

.process-path-expanded {
	background-image: url('images/path_expanded.gif') !important;
}

.process_AddButton {
	background-image: url('images/add.gif');
	background-position: center;
	background-repeat: no-repeat;
	margin: 0px auto 0px auto;
	width: 16px;
	height: 16px;
}

.process_AddButton_hover {
	background-image: url('images/add_hover.gif');
}

.processParallelHeader {
	background-image: url('images/parallel.gif');
	background-position: center;
	background-repeat: no-repeat;
	margin: 0px auto 0px auto;
	width: 33px;
	height: 24px;
}

.processParallelAND {
	background-image: url('images/parallel_and.gif');
	background-position: center bottom;
	background-repeat: no-repeat;
}

.processParallelOR {
	background-image: url('images/parallel_or.gif');
	background-position: center bottom;
	background-repeat: no-repeat;
}

.process_xact_top_left {
	background-image: url('images/xact_top_left.gif');
	background-position: right center;
	background-repeat: no-repeat;
	width: 7px;
}

.process_xact_top_middle {
	background-image: url('images/xact_top_middle.gif');
	background-position: center;
	background-repeat: no-repeat;
	height: 16px;
}

.process_xact_top_right {
	background-image: url('images/xact_top_right.gif');
	background-position: left center;
	background-repeat: no-repeat;
	width: 7px;
}

.process_xact_top_fill {
	background-image: url('images/xact_top_fill.gif');
	background-position: center 2px;
	background-repeat: repeat-x;;
}

.process_xact_bottom_left {
	background-image: url('images/xact_bottom_left.gif');
	background-position: right center;
	background-repeat: no-repeat;
	width: 7px;
}

.process_xact_bottom_middle {
	background-image: url('images/xact_bottom_middle.gif');
	background-position: center;
	background-repeat: no-repeat;
	height: 16px;
}

.process_xact_bottom_right {
	background-image: url('images/xact_bottom_right.gif');
	background-position: left center;
	background-repeat: no-repeat;
	width: 7px;
}

.process_xact_bottom_fill {
	background-image: url('images/xact_bottom_fill.gif');
	background-position: center;
	background-repeat: repeat-x;
}

.palette_activity_category {
	background-image: url('images/palette/activity_category.gif');
	background-position: center;
	background-repeat: no-repeat;
}

.palette_activity_host {
	background-image: url('images/palette/activity_host.gif');
	background-position: center;
	background-repeat: no-repeat;
}

.palette_activity_namespaces {
	background-image: url('images/palette/source_attach_attrib.gif')
		!important;
	background-position: center;
	background-repeat: no-repeat;
}

.palette_break {
	background-image: url('images/palette/break.gif') !important;
}

.palette_client_recv {
	background-image: url('images/palette/client_recv.gif') !important;
}

.palette_client_send {
	background-image: url('images/palette/client_send.gif') !important;
}

.palette_clone {
	background-image: url('images/palette/copy_edit.gif') !important;
}

.palette_control_recv {
	background-image: url('images/palette/control_recv.gif') !important;
}

.palette_control_send_recv {
	background-image: url('images/palette/control_send_recv.gif') !important;
}

.palette_control_send {
	background-image: url('images/palette/control_send.gif') !important;
}

.palette_decision {
	background-image: url('images/palette/decision.gif') !important;
}

.palette_declare_var {
	background-image: url('images/palette/var_static.gif') !important;
}

.palette_dom_add {
	background-image: url('images/palette/dom_add.png') !important;
}

.palette_dom_del {
	background-image: url('images/palette/dom_delete.png') !important;
}

.palette_dom_ren {
	background-image: url('images/palette/dom_rename.png') !important;
}

.palette_do_while {
	background-image: url('images/palette/do_while.gif') !important;
}

.palette_finish {
	background-image: url('images/palette/finish.gif') !important;
}

.palette_for_each {
	background-image: url('images/palette/for_each.gif') !important;
}

.palette_sleep {
	background-image: url('images/palette/sleep.gif') !important;
}

.palette_multi_recv {
	background-image: url('images/palette/multi_recv.gif') !important;
}

.palette_parallel {
	background-image: url('images/palette/parallel.gif') !important;
}

.palette_perform {
	background-image: url('images/palette/perform.gif') !important;
}

.palette_sql {
	background-image: url('images/palette/sql.gif') !important;
}

.palette_switch {
	background-image: url('images/palette/switch.gif') !important;
}

.palette_transform {
	background-image: url('images/palette/transform.gif') !important;
}

.palette_while_do {
	background-image: url('images/palette/while_do.gif') !important;
}

.palette_hideIndent {
	margin: 2px 2px 2px 2px;
}

.palette_hideIndent .x-tree-ec-icon {
	display: none;
}

.palette_script_add {
	background-image: url('images/palette/script.png') !important;
}

.x-tree-node-el {
	background-color: white;
}