@CHARSET "UTF-8";

.x-dialog-folder {
	background-image: url("images/folder.gif");
}

.x-dialog-file {
	background-image: url("images/file_obj.gif");
}

.x-dialog-newfolder {
	background-image: url("images/folder_add.png") !important;
}

.x-dialog-up {
	background-image: url('images/up.gif') !important;
}

.x-dialog-item {
    padding: 2px;
    white-space: nowrap;
    overflow: hidden;
}

.x-dialog-over {
}

.x-dialog-selected {
    background: #DFEDFF;
    border: 1px solid #6593cf;
    padding: 1px;
}

