body { margin: 0pt; padding: 0pt; border: 0pt none; text-align: center; background-color: rgb(249, 249, 249); font: 12px Verdana,Arial,Helvetica,sans-serif; }
div#wrapper { margin: 0pt auto; padding: 0pt; border: 0pt none; width: 100%; text-align: left;}
div#navsecond { float: none; margin: auto; text-align:center; width:100%; padding: 0pt; border: 0pt none; width: 150px; background: none repeat scroll 0% 0% transparent; }
html > body div#navsecond { margin-left: 12px; }
div#maincontent { float: none; margin: auto; padding: 0pt; border: 0pt none; width: 100%; background: none repeat scroll 0% 0% transparent; }
div#sidebar { float: left; margin: 0pt; padding: 0pt; border: 0pt none; width: 150px; background: none repeat scroll 0% 0% transparent; }
div#footer { clear: both; margin: 0pt 0pt 0pt 12px; padding: 0pt; width: 937px; height: 46px; background: none repeat scroll 0% 0% rgb(182, 182, 182); border-top: 10px solid rgb(255, 255, 255); border-bottom: 10px solid rgb(255, 255, 255); }
div#footer p { margin: 2px 10px 0pt; font-size: 12px; }
div#header, div#header_index { margin: 0pt 0pt 0pt 12px; padding: 0pt; border: 0pt none; width: 937px; height: 90px; background: none repeat scroll 0% 0% rgb(182, 182, 182); }
div#header a, div#header_index a, div#header_index h1 { text-indent: -9999px; margin: 0pt; padding: 0pt; border: 0pt none; overflow: hidden; }
div#header a:link, div#header a:visited { display: block; width: 209px; height: 90px; margin: 0pt; padding: 0pt; border: 0pt none; }
div#header div#ad_head { float: right; width: 728px; height: 90px; background-color: rgb(239, 239, 239); }
div#navfirst { height: 40px; width: 937px; margin: 0pt 0pt 0pt 12px; padding: 0pt; border: 0pt none; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
div#navfirst ul#menu { height: 40px; width: 937px; margin: 0pt; padding: 0pt; position: relative; }
div#navfirst ul#menu li { margin: 0pt; padding: 0pt; list-style: none outside none; position: absolute; top: 0pt; }
ul#menu li, ul#menu a { display: block; height: 40px; }
div#navfirst ul#menu li a { text-indent: -9999px; overflow: hidden; text-decoration: none; }
#h { left: 0pt; width: 88px; }
#x { left: 88px; width: 86px; }
#b { left: 174px; width: 189px; }
#s { left: 363px; width: 177px; }
#d { left: 540px; width: 120px; }
#m { left: 660px; width: 134px; }
#w { left: 794px; width: 143px; }

a:link, a:visited { text-decoration: underline; color: rgb(144, 11, 9); background: none repeat scroll 0% 0% transparent; }
a:hover { text-decoration: underline; color: rgb(255, 0, 0); background: none repeat scroll 0% 0% transparent; }
a:active { text-decoration: underline; color: rgb(255, 0, 0); background: none repeat scroll 0% 0% transparent; }
div#navsecond a:link, div#navsecond a:visited { text-decoration: none; color: rgb(0, 0, 0); background: none repeat scroll 0% 0% transparent; }
div#navsecond a:hover { text-decoration: underline; color: rgb(0, 0, 0); background: none repeat scroll 0% 0% transparent; }
div#navsecond a:active { text-decoration: underline; color: rgb(0, 0, 0); background: none repeat scroll 0% 0% transparent; }
div#navsecond a#link_help { color: rgb(4, 121, 167); }
div#navsecond a#link_about { color: rgb(4, 121, 167); }
div#footer a:link, div#footer a:visited { text-decoration: none; color: rgb(0, 0, 0); background: none repeat scroll 0% 0% transparent; }
div#footer a:hover { text-decoration: underline; color: rgb(0, 0, 0); background: none repeat scroll 0% 0% transparent; }
div#footer a:active { text-decoration: underline; color: rgb(0, 0, 0); background: none repeat scroll 0% 0% transparent; }
h2, h3, h4, h5, h6 { font-weight: bold; margin: 0pt; padding: 0pt; }
div#maincontent h1 { text-align:center;margin: 15px 0pt 0pt 15px; font-size: 20px; font-family: '微软雅黑'; }
div#maincontent h2 { font-size: 14px; }
div#maincontent h3, div#maincontent h4 { margin: 20px 0pt 0pt; font-size: 12px; }
div#navsecond h2, div#sidebar h2 { font-size: 12px; margin: 10px 0pt 0pt 12px; }
p { margin: 12px 0pt 0pt; line-height: 150%; }
div#maincontent div p:first-child { margin: 0pt; }
div#intro strong { font-size: 12px; }
pre {margin: auto; padding: 10px; border: 1px dotted rgb(119, 136, 85); background: none repeat scroll 0% 0% rgb(245, 245, 245); font-family: "Courier New",monospace; font-size: 12px; }
div#maincontent ul { margin-top: 10px; margin-bottom: 0pt; }
div#maincontent li { margin-top: 3px; }
div#navsecond ul, div#navsecond li, div#sidebar ul, div#sidebar li { margin: 0pt; padding: 0pt; }
div#navsecond ul, div#sidebar ul { margin-left: 12px; }
div#navsecond li, div#sidebar li { list-style: none outside none; }
div#maincontent div { margin: 0pt 15px 0pt 15px; padding: 20px 0pt; border-right: 0pt none; border-left: 0pt none; border-width: 1px 0pt; border-style: solid none; border-color: rgb(170, 170, 170) -moz-use-text-color; }
table.dataintable { font-family: Arial,Helvetica,sans-serif; margin-top: 10px; border-collapse: collapse; border: 1px solid rgb(136, 136, 136); width: 100%; }
table.dataintable th { vertical-align: baseline; padding: 5px 15px 5px 5px; background-color: rgb(204, 204, 204); border: 1px solid rgb(136, 136, 136); text-align: left; }
table.dataintable td { vertical-align: text-top; padding: 5px 15px 5px 5px; background-color: rgb(239, 239, 239); border: 1px solid rgb(170, 170, 170); }
table.dataintable p { margin: 0pt 0pt 2px; }
div#tpn, div#bpn { height: 21px; width: 230px; margin: 0pt; padding: 0pt; border: 0pt none; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
div#tpn ul.prenext, div#bpn ul.prenext { height: 21px; width: 230px; margin: 0pt; padding: 0pt; border: 0pt none; position: relative; }
div#tpn ul.prenext li, div#bpn ul.prenext li { margin: 0pt; padding: 0pt; list-style: none outside none; position: absolute; top: 0px; overflow: hidden; }
ul.prenext li, ul.prenext a { display: block; height: 21px; }
div#tpn ul.prenext a, div#bpn ul.prenext a { text-indent: -9999px; text-decoration: none; }
.pre { left: 0pt; width: 105px; }
.next { left: 125px; width: 105px; }

div#course {padding: 30px 0pt 10px; }
div#selected {padding: 30px 0pt 10px; }
div#tools {padding: 45px 0pt 10px 15px; margin: 0pt; }
div#ad {padding: 6px 0pt 10px 15px; margin: 0pt; }
div#sidebar div#ad h2 { color: rgb(0, 0, 0); margin: 0pt 0pt 25px 25px; font-size: 14px; font-family: '微软雅黑'; }
div#tools h5 { margin: 0pt 0pt 10px; padding: 0pt; overflow: hidden; }
div#tools h5#tools_reference, div#tools h5#tools_example, div#tools h5#tools_quiz, div#tools h5#tools_search { text-indent: -9999px; width: 120px; height: 45px; }
div#tools h5#tools_reference a, div#tools h5#tools_example a, div#tools h5#tools_quiz a, div#tools h5#tools_search a { display: block; margin: 0pt; padding: 0pt; width: 100%; height: 100%; text-decoration: none; }
div#searchui { margin: 15px 0pt; padding: 0pt; }
div#searchui p { margin: 0pt; padding: 0pt; }
#searchui label { margin: 0pt 0pt 0pt 2px; text-transform: uppercase; letter-spacing: 2px; font-size: 11px; }
#searchui input.button { padding: 0pt; margin: 0pt; background: none repeat scroll 0% 0% rgb(174, 65, 65); font: 12px Verdana,Arial,Helvetica,sans-serif; color: rgb(255, 255, 255); width: 25px; }
#searchui input.box { margin: 0pt 0pt 0pt 2px; width: 100px; background: none repeat scroll 0% 0% rgb(245, 245, 245); font: 12px Verdana,Arial,Helvetica,sans-serif; }
