<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%4d{yyyy-MM-dd HH:mm:ss} %-5p [%-15.15t] - %c - %m%n</pattern>
    </encoder>
  </appender>

  <logger name="Sisu" level="INFO"/>
  <logger name="org.eclipse.jetty.webapp" level="INFO"/>
  <logger name="org.eclipse.jetty.webapp.StandardDescriptorProcessor" level="WARN"/>
  <logger name="org.sonatype.sisu.jetty.custom.DisableTagLibsListener" level="WARN"/>

  <root level="${sesame.log.level:-DEBUG}">
    <appender-ref ref="console"/>
  </root>
</configuration>
