<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>statenet-studio</display-name>
	<!--  server.xml与cluster.xml文件存放目录 -->
	<context-param>
		<param-name>ConfigPath</param-name>
		<param-value>D:\Projects\statenet-project\statenet-server</param-value>
	</context-param>
	<listener>
		<listener-class>com.sanxing.ads.Application</listener-class>
	</listener>
	<listener>
		<listener-class>com.sanxing.ads.Configuration</listener-class>
	</listener>
	<filter>
		<filter-name>authentication-filter</filter-name>
		<filter-class>com.sanxing.ads.Authentication</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>authentication-filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<servlet>
		<description></description>
		<display-name>LoginAction</display-name>
		<servlet-name>LoginAction</servlet-name>
		<servlet-class>com.sanxing.ads.action.LoginAction</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UserAction</display-name>
		<servlet-name>UserAction</servlet-name>
		<servlet-class>com.sanxing.ads.action.UserAction</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SQLExplorer</display-name>
		<servlet-name>SQLExplorer</servlet-name>
		<servlet-class>com.sanxing.ads.action.SQLExplorer</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TableBrowser</display-name>
		<servlet-name>TableBrowser</servlet-name>
		<servlet-class>com.sanxing.ads.action.TableBrowser</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>TableOperate</display-name>
		<servlet-name>TableOperate</servlet-name>
		<servlet-class>com.sanxing.ads.action.TableOperate</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>TableEditOparation</display-name>
		<servlet-name>TableEditOparation</servlet-name>
		<servlet-class>com.sanxing.ads.action.TableEditOparation</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>ConsoleServlet</display-name>
		<servlet-name>ConsoleServlet</servlet-name>
		<servlet-class>com.sanxing.ads.console.ConsoleServlet</servlet-class>
 	</servlet>

	<servlet-mapping>
		<servlet-name>LoginAction</servlet-name>
		<url-pattern>/LoginAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserAction</servlet-name>
		<url-pattern>/UserAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SQLExplorer</servlet-name>
		<url-pattern>/SQLExplorer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TableBrowser</servlet-name>
		<url-pattern>/TableBrowser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TableOperate</servlet-name>
		<url-pattern>/TableOperate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TableEditOparation</servlet-name>
		<url-pattern>/TableEditOparation</url-pattern>
	</servlet-mapping>
	 <servlet-mapping>
	  	<servlet-name>ConsoleServlet</servlet-name>
	  	<url-pattern>/ConsoleMonitor</url-pattern>
  	</servlet-mapping>


	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<mime-mapping>
		<extension>resources</extension>
		<mime-type>text/plain</mime-type>
	</mime-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>401</error-code>
		<location>/error401.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/error404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error500.jsp</location>
	</error-page>
</web-app>